<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/content/lib/spliter/spliter.css"/>
    <link rel="stylesheet" href="/content/css/execution.css"/>
</head>
<body>

    <div id="main-view">

    <div id="page-wrapper">
        <div id="menu">
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Charts <span class="caret"></span></button>
                <ul id="charts-dropdown" class="dropdown-menu">
                    <li role="separator" class="divider"></li>
                    <li id="btn-show-trade-markers"><a href="#">Show Trade Markers</a></li>
                    <li id="btn-hide-trade-markers" style="display:none"><a href="#">Hide Trade Markers</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Analyze <span class="caret"></span></button>
                <ul id="analyze-dropdown" class="dropdown-menu">
                    <li><a href="#" data-type="mae">MAE</a></li>
                    <li><a href="#" data-type="mfe">MFE</a></li>
                </ul>
            </div>
        </div>
        <div id="main">
            <div id="chart-wrapper">
            </div>
            <div id="summary">
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#summary-tab" data-toggle="tab">Summary</a></li>
                        <li role="presentation"><a href="#trade-stats-tab" data-toggle="tab">Trade Stats</a></li>
                        <li role="presentation"><a href="#portfolio-stats-tab" data-toggle="tab">Portfolio Stats</a></li>
                        <li role="presentation"><a href="#orders-tab" data-toggle="tab">Orders</a></li>
                        <li role="presentation"><a href="#trades-tab" data-toggle="tab">Trades</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="summary-tab">
                            <table id="statistics" class="table table-condensed"></table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="trade-stats-tab">
                            <table id="trade-stats-table" class="table table-condensed"></table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="portfolio-stats-tab">
                            <table id="potfolio-stats-table" class="table table-condensed"></table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="orders-tab">
                            <table id="orders-table" class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>DateTime</th>
                                        <th>Symbole</th>
                                        <th>Price</th>
                                        <th>Type</th>
                                        <th>Qunatity</th>
                                        <th>Operation</th>
                                        <th>Status</th>
                                        <th>Tag</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="trades-tab">
                            <table id="trades-table" class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Symbole</th>
                                        <th>EntryTime</th>
                                        <th>EntryPrice</th>
                                        <th>Direction</th>
                                        <th>Qunatity</th>
                                        <th>ExitTime</th>
                                        <th>ExitPrice</th>
                                        <th>ProfitLoss</th>
                                        <th>TotalFees</th>
                                        <th>MAE</th>
                                        <th>MFE</th>
                                        <th>Duration</th>
                                        <th>EndTradeDrawdown</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="/content/lib/marionette/backbone.marionette.min.js"></script>
    <script src="//cdn.jsdelivr.net/momentjs/2.10.6/moment.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/momentjs/2.10.6/moment.min.js"></script>
    <script src="//code.highcharts.com/stock/highstock.js"></script>
    <script src="/content/lib/spliter/splitter.js"></script>
    <script src="/content/js/execution.js"></script>

    <script>
         var _executionId = @Model.ExId;
        $(function(){
            var view = new app.execution.MainView({executionId: @Model.ExId});
            view.render();
            console.log('view', view);
        });
    </script>

</body>
</html>
